/* For testing purposes:
div {
  border: red solid 1px;
} */

* {
  box-sizing: border-box;
}

body {
  background-color: #d8f4e4;
  font-family: 'Amatic SC', cursive;
  color: #13283d;
}

h1 {
  text-align: center;
  color: #13283d;
  margin: 10px;
  font-size: 50px;
}

main {
  max-width: 90%;
  margin: 0 auto;
}

.board {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.square {
  width: 32.9%;
  height: 32.9%;
  border-color: black;
  border-width: 2px;
  display: inline-block;
  position: relative;
}

.top {
  border-bottom-style: solid;
}

.centre {
  border-left-style: solid;
  border-right-style: solid;
}

.bottom {
  border-top-style: solid;
}

.played {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 120px;
  line-height: 163.5px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #0c1825;
}

.blowfish {
  font-size: 120px;
  transition: transform 1.5s;
}

.makeBig {
  transform: scale(1.8);
}

.result {
  margin: 20px auto;
  font-size: 42px;
  height: 42px;
  position: relative;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

.result div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

.x, .blowfish, .X-wins, .Blowfish-wins, .Draw-wins, .Blowfish-starts, .X-starts {
  visibility: hidden;
}

aside {
  background-color: #bbb;
}

ul {
  padding: 0;
  text-align: center;
}

ul li {
  display: inline-block;
  padding: 0 15px;
  font-size: 30px;
  font-weight: bold;
}

.game-type {
  font-size: 36px;
  padding-right: 40px;
}

butt {
  font-size: 24px;
  padding: 4px 18px;
  background-color: #bbb;
  color: #13283d;
  border: solid 1px black;
  border-radius: 10%;
  font-family: 'Amatic SC', cursive;
}

.switch-screen {
  background-color: #009677;
}

.square:hover, butt:hover {
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

.visible {
  visibility: visible;
}
